<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>OpenCATweb - login</title>
        <div th:replace="fragments :: head"></div>
    </head>
    <body>
        <!-- navigation bar -->
        <div th:replace="fragments :: nav_principal"></div>
        <!-- filtrar proyectos-->
        <div>
            <button th:each="proyecto: ${proyectos}">
                <span th:text="${proyecto.nombre}" th:value="${proyecto.id}"></span>
            </button>
        </div>
        <!-- mostrar segmentos para su elección-->
        <div th:if="${segmentos!=null}">
            <div th:each="${segmento: ${segmentos}}">
                
            </div>
        </div>
        <!-- cargar segmento -->
        <div th:if="${segmentos == null}">
            <div>
                <form method="POST" action="/crearsegmento">
                <h3>Crear segmento</h3>
                <label>Proyecto</label>
                <select th:each="proyecto : ${proyectos}" name="idProyecto">
                    <option th:text="${proyecto.name}" th:value="${proyecto.id}"></option>
                </select>
                <label>Texto fuente</label>
                <textarea type="text" rows="3" name="" maxlength="2000" required></textarea>
                <button type="submit" class="btn btn-success">Crear</button>
                </form>
            </div>
        </div>
        <!-- script-->
        <div th:replace="fragments :: scripts"></div>
    </body>
</html>
