<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>OpenCATweb - login</title>
        <div th:replace="fragments :: head"></div>
    </head>
    <body>
        <!-- navigation bar -->
        <div th:replace="fragments :: nav_principal"></div>
        <!--main div-->
        <main class="container">
        <!-- filtrar proyectos-->
        <div class="row border-0">
            <div class="card border-0">
                <div class="card-body">
                    <h3 th:text="${session.usuariosession.username}"></h3>
                    <button th:each="proyecto: ${proyectos}" class="btn bg-dark">
                        <a  th:href="@{/inicio(idProyecto=__${proyecto.id}__)}">
                            <span th:text="${proyecto.name}" th:value="${proyecto.id}"></span>
                        </a>
                    </button>
                </div>
            </div>
       
        
        <div class="col border-0">
        
        <!-- cargar segmento -->
        <div class="card border-0">
            <form method="POST" action="/crearsegmento" class="card-body text-center">
                <h3 class="card-title">Crear segmento</h3>
                <h4 th:if="${mensaje!=null}" th:text="${mensaje}"></h4>
                <div class="list-group list-group-flush w-50 mx-auto">
                    
                    <label>Proyecto</label>
                    <select th:each="proyecto : ${proyectos}" name="idProyecto">
                    <option th:text="${proyecto.name}" th:value="${proyecto.id}"></option>
                    </select>
                    <label>Texto fuente</label>
                    <textarea type="text" rows="3" name="source" maxlength="2000" required></textarea>
                    <button type="submit" class="btn btn-success mt-4 w-25 mx-auto">Crear</button>
                </div>
            </form>
        </div>
        <!-- mostrar segmentos para su traducción-->
        <div th:if="${segmentos!=null}" class="card-deck">
            <div th:each="segmento: ${segmentos}" class="card w-25">
                <div class="card-body">
                    <p th:text="${segmento.sourceText}"></p>
                    <p th:unless="${segmento.targetText == null}" style="color: green;">segmento traducido</p>
                    <p th:if="${segmento.targetText == null}" style="color: red;">segmento sin traducir</p>
                    <button class="btn bg-dark">
                        <a  th:href="@{/segmento/${proyecto.id}}">Traducir</a>
                    </button>
                </div>
            </div>
        </div>
        <!--col-->
        </div>
        <!--row-->    
        </div>
        <!--main div-->
        </main>
        <!-- script-->
        <div th:replace="fragments :: scripts"></div>
    </body>
</html>
