<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>OpenCATweb - mis proyectos</title>
       <div th:replace="fragments :: head"></div>
    </head>
    <body>
       <!-- navigation bar -->
       <div th:replace="fragments :: nav_principal"></div>
       <!-- crear proyecto-->
       <div class="container mt-4">
            <form method="POST" action="/crearproyecto">
                <h2 class="text-center font-weight-bold">Crea tu proyecto</h2>
                <p th:if="${message!=null}" th:text="${message}"></p>
                <input type="hidden" th:value="${session.usuariosession.id}" name="idUsuario">
                <div class="form-group">
                    <label>Nombre del proyecto (Máximo 25 caracteres)</label>
                    <input class="form-control" type="text" name="nombre" requested maxlength="25">
                </div>
                <div class="form-group">
                    <label>Lengua fuente</label>
                    <input type="text" list="sList"  name="source">
                    <datalist id="sList">
                        <option th:each="language: ${languages}" th:text="${language.toString}"></option>
                    </datalist>
                    
                </div>
                <div class="form-group">
                    <label>Lengua meta</label>
                    <input type="text" list="tList" name="target">
                    <datalist id="tList">
                        <option th:each="language: ${languages}" th:text="${language.toString}"></option>
                    </datalist>
                </div>
                <div class="container">
                    <button type="submit" class="btn btn-success btn-lg">¡Listo!</button>
                </div>
            </form>
        </div>
        <!-- cargar archivo-->
       <!-- <div class="container mt-4">
            <form method="POST" action="/cargararchivo" enctype="multipart/form-data">
                <label>Elegir proyecto</label>
                <select th:each="proyecto : ${proyectos}" name="idProyecto">
                    <option th:text="${proyecto.name}" th:value="${proyecto.id}"></option>
                </select>
                <label>Elegir archivo</label>
                <input type="file" name="archivo" accept="text/plain" class="form-control-file">
                <button type="submit" class="btn btn-success">Subir archivo</button>
            </form>
        </div> -->
        <!-- agregar colaboradores-->
        <!-- quitar colaboradores-->
        <!-- modificar proyecto-->
        <!-- eliminar proyecto-->
        <!-- exportar traducción-->
        
        <!-- script-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    </body>
</html>
